.footer {
    background-color: white;
    padding: 10px;
    position: relative;
    top:1800px;
    left: 22.4%;
    margin: 0;
    width: 1090px;
    
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  .footer-info p {
    margin: 0;
  }
  
 