.footer {
    background-color: white;
    padding: 10px;
    position: relative;
    top:2350px;
    left: 22.7%;
    margin: 0;
    width: 1050px;
    
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  .footer-info p {
    margin: 0;
    font-size: small;
  }
  
  .footer-social{
    display: flex;
    justify-content: end;
    padding: 3px;
  }

  .footer-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    color: black;
    border-radius: 50%;
    background-color: #FFB400;
  }