.project-gallery {
    margin: 0;
    position: relative;
    top: 1500px;
    left: 25.5%;
    width: 970px;
    height: 900px;
    background-color:  #E4E6EB;
}
.project-title{
  text-align: center;
}
  .categories {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #E4E6EB;
    text-decoration: none;
    cursor: pointer;
  }
  
  .category {
    background-color:#E4E6EB;
    color: #333;
    padding: 8px 16px;
    margin: 0 5px;
  }
  
  .category.active {
    color: #FFB400;
  }
  
  .project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  
  }
  
  .project-item {
    width: 300px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  
  .project-item img {
    width: 100%;
    height:200px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .project-item img:hover {
    transform: scale(1.1);
  }
  
