 .work-container{
    position: absolute;
    left: 25.5%;
    width: 970px;
  
    padding-bottom: 50px;
    top: 2150px;
}

.work-title{
    text-align: center;
}
.work-details{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
}

.work-details-card{
    display: flex;
}
.job-role{
    width:40%;
}

.certificates{
    width: 60%;
}

.duration{
    background-color: #FFB400;
    margin-left: 20px;
    color: white;
    font-size: 10px;
    padding: 3px 8px;

}