 .work-container{
    position: absolute;
    left: 25.5%;
    width: 970px;
    height: 600px;
    padding-bottom: 50px;
    top: 2100px;
}

/* .work-details-card{
    position: relative;
    left:0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;
} */

     